@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 210,180,140;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 210, 180, 140;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb:255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: var(--font-inter);
}

@layer base {
  :root {
    --brand-black: #1a1a1a;
    --brand: #4F46E5;
    --brand-text-strong: #1C1A3D;
    --brand-text-weak: #5B597A;
    --brand-stroke-strong: #8685A6;
    --brand-stroke-weak: #E1E0E5;
    --brand-fill-bg: #F5F5FA;
  }
}

@layer components {
  .container {
     @apply mx-auto px-8 lg:px-20 xl:px-40 max-w-screen-2xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}